html, body {
    text-align: center;
    margin: 0;
    background-color: #111;
    background: linear-gradient(135deg, #1a2330 0%, #000000 100%) fixed;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.content {
    padding: 1rem;
}

.color-example {
    height: 60px;
    margin: 1rem auto;
    border: 1px solid rgba(255,255,255,.4);
}

.connection-error {
    position: fixed;
    top:0;
    left:0;
    
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unit {
    font-size: 1.2rem;
    height: 50px;
    line-height: 50px;
    background-color: rgba(0,0,0,.5);
    margin: 1rem auto;
    user-select: none;
    display: block;
}

.unit--selected {
    color: #fff;
}